<div class="timeline-navbar">
  <div class="topbar">
    <div class="icon large-icon">{{icon}}</div>
    <h1 class="title">Acebook</h1>
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out" class="global-button logout">
    </form>
  </div>
  <div class="bottombar">
    <a href="/posts">Back to Posts</a>
  </div>
</div>

<div class="new-content">
  <div class="new-post-box">
    <h1>Create your Post</h1>
    {{#if error }}
      <div class="error-message">
      {{error}}
      </div>
    {{/if}}
    <form action="/posts/gif" method="post" class="gif-finder">
      <div>
        <input type="text" name="searchQuery" placeholder="Search GIFs" class="input-box" tabindex="1">
        <input type="submit" value="Search" class="global-button" tabindex="2">
      </div>
    </form>
    <form id="new-post-form" action="/posts" method="post">
      <div class="gif-results">
        {{#if gifs}}
          <ul class="gif-list">
            {{#each gifs}}
            <li>
              <label class="gif">
                <input type="radio" name="gifUrl" value="{{this.images.original.url}}" tabindex="3">
                <img src="{{this.images.original.url}}" alt="{{this.title}}" class="gif-thumbnail">
              </label> 
            </li>
          {{/each}}
          </ul>
        {{else}}
          <p>No GIFs found.</p>
        {{/if}}
      </div>
        <label for="message">Message:</label>
        <textarea id="message" class="input-area" type="text" name="message" value="" rows="6" placeholder="Say something..." maxlength="500" tabindex="4" required aria-label="Type post message here"></textarea>
        <button type="submit" class="global-button" aria-label="Submit Post" tabindex="5">Submit</button>
    </form>
  </div>
</div>